:root {
    --darkviolet: #805BCA;
    --light-violet: #7758D1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0 8vw;
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(12,187,242,100) 80%, rgba(0,212,255,1) 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
}

header{
    display: flex;
    padding: 0 10px;
    margin-bottom: 12px;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

header nav h2 {
    font-size: 2rem;
}
header p {
    padding-left: 2px ;
    font-size: 1.8rem;
}

.temperature {
    font-weight: 400;
    font-size: 4rem;
}

.today-temp{
    display: flex;
    width: fit-content;
    font-size: 300;
    gap: 1rem;
}

.today-name--day, .tomorrow-day--name{
    padding-right: 15px;
    font-size: 1.8rem;
}

.today-name--day{
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forecast {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-bottom: 12px;
    overflow-x: auto;
    border: 1px solid black;
}

.forecast-container {
    display: flex;
    margin: 0 6px;
    padding: 5px;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    min-width: 80px;
    height: 80px;
    overflow-x: visible;
}

.search-section{
    display: none;
}

.future-forecast, .data-section{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    border: 1px solid black;
}

.future-forecast--table, .data-table{
    padding: 6px 0;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 1.6rem;
}

.quality-section{
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 4px;
    gap: 10px;
    flex-direction: column;
    border: 1px solid green;
    font-size: 1.4rem;
}
.air-quality, .uv-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.air-quality{
    order: 1;
}
.air-quality--value {
    font-size: 3rem;
    font-weight: 500;
}

.air-quality--barra{
    width: 300px;
    height: 10px;
    background-color: #7758D1;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 12px;
}
.progreso{
    height:100%;
    width: 0;
    background-color: #4CAF50;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
}



.uv-section{
    order: 2;
    text-align: center;
}

@media (width > 800px){
    .city-name{
        font-size: 3.8rem;
    }
    .temperature {
        margin: 18px 12px 0 0;
        font-size: 7rem;
    }
    .main-tables {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .data-section{
        width: 40%;
    }
    .future-forecast {
        width: 60%;
    }

    .quality-section {
        flex-direction: row;
    }
    .air-quality{
        width: 60%;
    }
    .uv-section{
        width: 40%;
    }
}